.widget-bcycle {
  background-image: url("/assets/bike.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 400px 400px;
 
   .updated-at {
    color: rgba(0, 0, 0, 0.3);
  } 
}