<% content_for :title do %>B-Cycle Dashboard<% end %>
<div class="gridster">
  <ul>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2162" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2165" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2166" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2167" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2168" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2169" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2170" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2171" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2173" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_3613" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2176" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_nashville_2177" data-view="Bcycle"></div>
  </li>

  </ul>
</div>
