<% content_for :title do %>B-Cycle Dashboard<% end %>
<div class="gridster">
  <ul>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2162" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2164" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2165" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2166" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2167" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2168" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2169" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2170" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2171" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2172" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2173" data-view="Bcycle"></div>
  </li>

  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
   <div data-id="bcycle_2174" data-view="Bcycle"></div>
  </li>

  </ul>
</div>